:root {
  --background-light: #FFFFFF;
  --background-dark: #F6F6F6;
  --text-dark-color: #070707;
  --text-light-color: #828282;
  --text-white-color: #FFFFFF;
  --primary-color: #070707;
  --secondary-color: #828282;
  --font-weight: 700;
  --font-size-smallest: 16px;
  --font-size-small: 18px;
  --font-size-medium: 20px;
  --font-size-large: 20px;
  --font-size-largest: 45px;
  --container-max-width: 980px;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
  color: var(--text-dark-color);
}

.page {
  font-family: var(--font-family);
  font-weight: var(--font-weight);
  scroll-behavior: smooth;
}

.container {
  max-width: var(--container-max-width);
  margin: 0 auto;
  padding: 0 10px;
}

.title {
  font-size: var(--font-size-large);
  text-align: center;
}

.text {
  font-size: var(--font-size-medium);
  text-align: center;
}

.button {
  color: var(--text-white-color);
  background-color: var(--primary-color);
  border-radius: 20px;
  padding: 10px 29px;
  width: fit-content;
  font-size: var(--font-size-medium);
}

.header {
  top: 0px;
  background-color: var(--background-light);
  z-index: 5;
}

.header1 {
  padding: 33px 10px;
}

.container1 {
  border-bottom: 1px solid var(--secondary-color);
}

.hb {
  display: none;
}

.burgerIcon {
  cursor: pointer;
}

.bPage {
  display: none;
}

.menuList {
  display: flex;
  justify-content: space-between;
}

.mLink {
  font-size: var(--font-size-medium);
  color: var(--text-light-color);
}

.mActive {
  color: var(--text-dark-color);
}

.den2 {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.den {
  padding-top: 40px;
  padding-bottom: 105px;
  display: grid;
  grid-template-rows: repeat(2, max-content);
  row-gap: 30px;
}

.titleDen {
  font-size: var(--font-size-largest);
}

.denText {
  font-size: var(--font-size-medium);
  text-align: left;
}

.denImage {
  width: 100%;
  height: auto;
}

.imageMobile {
  display: none;
}

.Lang {
  display: flex;
  width: 20px;
  transform: rotate(-90deg);
  cursor: pointer;
}

.language {
  font-size: var(--font-size-small);
  color: var(--text-light-color);
}

.langActive {
  color: var(--text-dark-color);
}

.slash {
  margin: 0 5px;
}

.about {
  background-color: var(--background-dark);
}

.about2 {
  padding-top: 120px;
  padding-bottom: 114px;
  display: grid;
  grid-template-rows: repeat(4, max-content);
  row-gap: 30px;
}

.skills2 {
  padding: 100px 10px;
  display: grid;
  grid-template-rows: repeat(3, max-content);
  row-gap: 70px;
}

.sList {
  display: flex;
  justify-content: space-between;
}

.level {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  column-gap: 10px;
}

.skill {
  display: grid;
  grid-template-rows: 2fr 1fr 1fr;
  row-gap: 30px;
  justify-items: center;
  align-content: space-between;
}

.sTitle {
  font-size: var(--font-size-smallest);
  color: var(--text-light-color);
  text-align: center;
}

.star {
  width: 26px;
  height: 26px;
  background-image: url("../images/star.svg");
  background-repeat: no-repeat;
  background-size: 26px;
}

.starBlack {
  background-image: url("../images/filled-star.svg");
}

.portfolio {
  background-color: var(--background-dark);
}

.portfolio2 {
  padding: 100px 10px;
  display: grid;
  grid-template-rows: repeat(2, max-content);
  row-gap: 45px;
}

.pContent {
  display: grid;
  grid-template-rows: repeat(3, max-content);
  row-gap: 100px;
}

.project {
  display: grid;
  grid-template-rows: min-content max-content;
  row-gap: 45px;
  justify-items: center;
}

.pImage {
  width: 100%;
  height: auto;
}

.project2 {
  font-size: var(--font-size-medium);
  text-decoration: underline;
}

.footer2 {
  max-width: 342px;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  row-gap: 85px;
  padding: 100px 0;
}

.contacts {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  justify-items: center;
  row-gap: 20px;
}

.footer3 {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  row-gap: 45px;
}

.fList {
  display: flex;
  justify-content: space-between;
}

.fText {
  font-size: var(--font-size-smallest);
  color: var(--text-light-color);
  text-align: center;
}

@media (max-width: 460px) {
  
  .container {
    max-width: 316px;
  }

  .menu {
    display: none;
  }

  .header1 {
    display: flex;
    justify-content: flex-end;
    border: none;
  }

  .hb {
    display: block;
  }

  .bPage {
    display: block;
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
    background-color: var(--background-light);
  }

  .bContent {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 60px 30px;
  }

  .bList {
    display: grid;
    grid-template-rows: repeat(5, max-content);
    row-gap: 60px;
  }

  .bButton {
    order: 1;
    cursor: pointer;
  }

  .pHidden {
    display: none;
  }

  .bLink {
    font-size: var(--font-size-large);
  }

  .imageMobile {
    display: block;
    width: 100%;
    height: auto;
  }

  .imageDesktop {
    display: none;
  }

  .den2 {
    display: grid;
    grid-template-rows: repeat(3, max-content);
    row-gap: 20px;
  }

  .Lang {
    display: none;
  }

  .sList {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    row-gap: 80px;
    justify-content: center;
  }
}