body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    min-width: 1000px;
}

.header {
    height: 70px;
    border-bottom: 2px solid #DA6B62;
}

.logo {
    padding-left: 75px;
    padding-top: 10px;
}

.logoPosition {
    float: left;
}

.menu {
    float: right;
    display: flex;
    margin-right: 5%;
}

.mList {
    padding: 25px;
    margin-left: 50px;
    font-weight: bold;
    color: #141323;
}

.imLogo {
    float: right;
    height: 95%;
    margin-right: 10%;
    margin-top: 2%;
}

.lHeader {
    float: left;
    margin-left: 75px;
    margin-top: 2%;
}

.textHeader {
    text-transform: uppercase;
    line-height: 1.8em;
}

.textOther {
    line-height: 3em;
}

.headerButton {
    display: flex;
}

.buttonL {
    background-color: #DA6B62;
    padding: 15px;
    border-radius: 15px 0 15px 0;
    color: white;
    width: 200px;
    text-align: center;
    cursor: pointer;
}

.buttonR {
    border: 2px solid #DA6B62;
    padding: 15px;
    border-radius: 15px 0 15px 0;
    width: 200px;
    text-align: center;
    margin-left: 8%;
    cursor: pointer;
}

.tHeader {
    height: 500px;
}

.heading {
    margin-left: 75px;
    margin-top: 2%;
    margin-bottom: 2%;
}

.course {
    display: flex;
    justify-content: center;
    
}

.courseTab {
    background-color: #a8d4d0;
    width: 25%;
    margin: 0 3% 0 3%;
    border-radius: 45px 0 45px 0;
}
.description {
    display: flex;
    margin-left: 75px;
}
.descriptionButton {
    width: 34%;
}
.dButton {
    border: 2px solid #DA6B62;
    width: 50%;
    padding: 5%;
    border-radius: 15px 0 15px 0;
}
.lessons {
    margin-top: 10%;
    line-height: 1.5em;
    font-size: 1.3vw;
}
.Consultation {
    margin: 0 auto;
    width: 300px;
    background-color: #DA6B62;
    text-align: center;
    padding: 20px;
    border-radius: 20px 0 20px 0;
    color: white;
    margin-top: 25px;
    font-size: 20px;
}
.jobs {

}
.jobs img {
    display: block;
    margin: 0 auto;
}
.teacher {
    display: grid;
    grid-template-columns: 8em 8em;
}
.TeacherCards {
    margin-left: 75px;
    height: 300px;
    width: 35%;
    border: 2px solid #DA6B62;
    box-sizing: border-box;
}
.tImg {
    margin: 2%;
}