#q1{
    font-family: Arial, Helvetica, sans-serif;
}
#q2{
    text-align: center; 
    padding: 20px; 
    background-color: #9cc1e0;
    width: 1000px;
    font-size: 32px;
}
#q3{
    background-color: rgb(218, 151, 131); 
    padding: 15px;
    width: 300px;
    vertical-align: top;
}
#q4{
    padding: 25px;    
}
#q5{
    background-color: #9cc1e0;
    padding: 15px;
    color: #494949;
    font-style: italic;
}
#q6{
    border-spacing: 0px;
}
p{
    text-align: justify;
}
#q7{

}