body{
    font-family: Arial, Helvetica, sans-serif;
}
p{
    text-align: justify;
}
#fi{
    position: absolute;
    top: 10%;
    left: 80%;
    background-color: coral;
    border: 2px solid black;
    padding: 20px;
}
#q1{
    text-align: center; 
    padding: 20px; 
    background-color: #9fdae2; 
    font-size: 60px; 
    color: brown; 
    text-shadow: 5px 5px #828486;
}
#q2{
    float: left; 
    width: 300px; 
    background-color: #ad4d4d; 
    padding: 15px;
}
#q3{
    margin-left: 300px; 
    background: url(footbal.png) repeat-y right; 
    padding: 15px;
}
#q4{
    text-transform: uppercase; 
    text-align: center; 
    font-weight: bold; 
    font-size: 22px;
}
#q5{
    clear: both; 
    background-color: #9fdae2; 
    padding: 15px; color: #494949; 
    font-style: italic;
}